@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;

  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.2s;
}

.about-content {
  flex: 1;
  padding-right: 50px;
  padding-left: 5%;
}

.about-content h1 {
  font-size: 3rem;
  font-family: "Crimson Pro", serif;
  color: #333;
  margin-bottom: 2vh;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 2vh;
}

.about-content p:last-child {
  margin-bottom: 0;
}

.about-image {
  flex: 1;
  max-width: 50vw;
  position: relative;
}

.about-image img {
  width: auto;
  height: 60vh;
  object-fit: cover;
  padding-left: 20%;
}

/* REFERENCE  */
/*  Lines 2 - 10 taked from GeeksforGeeks. (2025, January 13). 
How to create fade-in effect on page load using CSS? 
https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/   */
