/* HOME PAGE */
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
}

.text-section {
  flex: 1;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.text-content {
  position: relative;
  z-index: 1;
  color: white;
  margin: 5rem;
  top: 28%;
}

.text-content h1 {
  font-family: "Ballet", serif;
  font-size: 3em;
}

.home-contain-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-contain-content img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.shop-now-arrow {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px 30px;
  margin: 10px 0;
  border-radius: 30px;
  cursor: pointer;
}

/*  FEATURED PRODUCTS SECTION  */
.small-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 5% 10%;
  text-align: center;
  padding-bottom: 0;
}

.featured-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.featured-title {
  font-family: "Crimson Pro", serif;
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.col-4 {
  flex-basis: 24%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.col-4 img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.col-4:hover {
  transform: scale(1.05);
}

/* SEPERATE PRODUCT INFO */
.product-name {
  font-size: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

.price {
  color: black;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
}

.add-to-cart {
  text-align: center;
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

/*  THE CHAR NECLACE SECTION  */
.text-overlap-necklace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.3); /* optional overlay */
  padding: 1rem;
  pointer-events: none;
}

.overlapping-text {
  font-size: 3rem;
  font-family: "Ballet", serif;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.overlapping-text-p {
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.5rem;
}

.overlapping-text-small {
  font-size: 0.8rem;
  font-weight: 100;
  color: #cccccc;
  padding: 0.5rem;
}

.necklace-shop-now-arrow {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 10px 30px;
  margin: 1rem 0 0;
  border-radius: 30px;
  cursor: pointer;
  pointer-events: auto;
}

.clickable-product {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-decoration: none;
  color: inherit;
}

.standalone-image {
  width: 100%;
  display: block;
  opacity: 0.75;
}

/*  MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media (max-width: 1200px) {
  .home-contain-content {
    flex: 0 1 100%;
  }
}

@media (max-width: 870px) {
  .icon-cart {
    right: 1rem;
  }
}

@media (max-width: 515px) {
  .featured-row {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .text-content h1 {
    font-size: 2.5em;
  }

  .overlapping-text {
    margin-top: 160vh;
    font-size: 1.5rem;
  }

  .overlapping-text-p {
    margin-top: 160vh;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .text-content h1 {
    font-size: 2em;
  }

  .cart-tab {
    width: 60vw;
  }
}
