
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

/*   NAV BAR   */
nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 5%; 
}

.logo {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none; 
    display: flex;
    gap: 20px;
    justify-content: center; 
    align-items: center;
    width: 100%;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/*   CONTENT   */
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-top: 8vh;
    align-items: start;
}
.product-item {
    background: #f5f3f4;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    margin-top: 20px;
}

/*   FOOTER   */
footer {
    padding-top: 10%;
    padding-bottom: 2%;
}

/*   HOME PAGE   */
/* flexbox contain, for sections to be side-side */
.home-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; /* ensures responsiveness */
    width: 100%;
    gap: 10px; 
}

.text-section {
    flex: 1; 
    position: relative;
    min-height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 60vh;
    height: 70vh;
    object-fit: contain;
    z-index: -1; 
    opacity: 0.8;
}

.text-content {
    position: relative;
    z-index: 1; 
    color: white;
    padding: 20px;
    top: 28%;
}

.text-content h1{
    font-family: "Ballet", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

.foreground-image {
    width: 60vh;
    height: 62vh;
    height: auto;
    object-fit: contain;
}

/* sections, equal width */
.home-contain-content {
    flex: 1; 
    min-width: 300px; 
    width: 70vh;
    height: 80vh;
}

.shop-now-arrow {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
}

/*  FEATURED PRODUCTS PART  */
.small-container{
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px 200px;
    text-align: center;
}

.featured-row{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.featured-title{
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 1.5em;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img{
    width: 100%; 
    max-width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover; /* prevents distortion */
}