/* MAIN CONTAINER */
.small-container {
  max-width: 100vw;
  margin: 5% 10%;
  text-align: center;
}

/* PRODUCT LISTING */
.featured-title {
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 20px;
}

.featured-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.9rem;
}

.col-4 {
  flex-basis: 24%;
  min-width: 200px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 3%;
  transition: transform 0.3s ease;
}

.col-4:hover {
  transform: scale(1.05);
}

.col-4 img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-name {
  font-size: 1.1rem;
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

.price {
  font-size: 1.2em;
  font-weight: normal;
  color: black;
  text-align: center;
}

.add-to-cart {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: black;
  border: none;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
}

/* STANDALONE DECORATIVE IMAGES */
.image-row {
  display: flex;
}

.standalone-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

#first-img {
  width: 40%;
  height: auto;
}

#second-img {
  width: 30%;
  height: auto;
}

/* BACK TO TOP BUTTON */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 2.5vw;
  height: 2.5vw;
  background-color: #222823;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top svg {
  width: 60%;
  height: auto;
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.back-to-top:hover {
  background-color: #444;
}

/* RESPONSIVENESS */
@media (max-width: 420px) {
  .back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .featured-title {
    margin-top: 4.5rem;
  }
}
