/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
}

/* NAV BAR */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.icon-cart {
  cursor: pointer;
  position: relative;
}

.icon-cart .cart-count {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #e9ecef;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}

/* CART TAB */
.cart-tab {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 45vw;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-tab.show {
  right: 0;
}

#cartTitle {
  font-size: 20px;
  text-align: center;
}

.cart-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

/* CART ITEM */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 5vw;
  height: 8vh;
  object-fit: cover;
}

.cart-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #e9ecef;
}

.check-out, .close-cart {
  background: #e9ecef;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.close-cart:hover {
  color: #66666e;
}

/* PRODUCT GRID */
.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 8vh;
}

.product-item {
  background: #f5f3f4;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 250px;
  transition: transform 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

/* FOOTER */
footer {
  padding-top: 10%;
  padding-bottom: 2%;
}

/* HOME PAGE */
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.text-section {
  flex: 1;
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  width: 60vh;
  height: 70vh;
  object-fit: contain;
  z-index: -1;
  opacity: 0.8;
}

.text-content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
  top: 28%;
}

.text-content h1 {
  font-family: "Ballet", serif;
  font-size: 3em;
}

/* FEATURED PRODUCTS PART */
.small-container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px 10%;
  text-align: center;
}

.featured-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.featured-title {
  font-family: "Crimson Pro", serif;
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.col-4 {
  flex-basis: 24%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.col-4 img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.col-4:hover {
  transform: scale(1.05);
}

/* PRODUCT DETAILS */
.product-description {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 40px;
  color: #444;
}

.product-details-container .product-description {
  color: #777;
}

.product-details-text {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.product-details-text.pop-out {
  opacity: 1;
  transform: translateY(0);
}

/* Modal */
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.product-modal.show {
  display: flex;
  opacity: 1;
}

.product-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.product-modal-content.show {
  transform: scale(1);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* PRODUCT INFO */
.product-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.product-info h4 {
  font-size: 1.3em;
  font-weight: bold;
}

.product-info p {
  margin: 5px 0;
}

.price {
  color: #b77e3e;
  font-size: 1.2em;
  font-weight: bold;
}

.ring-size, .material {
  font-size: 1em;
  color: #777;
}

.description {
  font-size: 0.9em;
  margin-top: 10px;
}

.add-to-cart {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #b77e3e;
  color: white;
  border: none;
  cursor: pointer;
}

/* PRODUCT IMAGES GRID */
.product-images-container {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap to the next line */
  justify-content: space-between; /* Distribute images with equal space between */
  gap: 20px; /* Add space between the images */
  width: 100%; /* Ensure container takes full width */
}

.product-images-container img {
  width: 48%; /* Adjust the width of the images */
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
