* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
}

/*   NAV BAR   */
nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  height: 50px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.icon-cart {
  cursor: pointer;
}

header .icon-cart {
  position: relative;
}

/*      PRODUCT LISTINGS    */
.list-product .item img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.list-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.list-product .item {
  padding: 20px;
}

.list-product .item h2 {
  font-weight: 500;
  font-size: large;
}

.list-product .item .price {
  font-size: small;
}

.list-product .item button {
  background-color: #e9ecef;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

/*      CART TAB    */
.cart-tab {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 45vw;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-tab.show {
  right: 0;
}

#cartTitle {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

/* CART LIST */
.cart-list {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

/* CART ITEM */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

.cart-item img {
  width: 100%;
  height: 8vh;
  object-fit: cover;
  width: 5vw;
}

.cart-item .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
}

/* QUANTITY CONTROLS */
.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background: lightgray;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.quantity-controls span {
  padding: 0 10px;
}

/* CART BUTTONS */
.cart-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #e9ecef;
}

.check-out {
  background: #e9ecef;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 48%;
}

.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.close-cart:hover {
  color: #66666e;
}

/* CART ICON */
.icon-cart {
  cursor: pointer;
  position: relative;
}

.icon-cart .cart-count {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #e9ecef;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
